# Default ignored files
/../../../../../../PRASAN~1/AppData/Local/Temp/decryptaadhar.py1234292463180384656/.idea/shelf/
/../../../../../../PRASAN~1/AppData/Local/Temp/decryptaadhar.py1234292463180384656/.idea/workspace.xml
